.status {
  padding: 20px;

  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 10px #ddd;

  background-color: #fff;

  &__button {
    margin: 0 5px;
    padding: 0 10px;
    text-align: left;

    border: none;
    border-radius: 30px;
    outline: none;

    background-color: #f1f1f1;
    color: #555;

    &:hover {
      background-color: #ddd;
    }
  }
}
